customer support.json
{
  "name": "customer support",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a71f2253-173e-43ec-95af-059a55827cbb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "GE3qQ9ody2IXIqSI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "customer support",
              "description": "an email which is related to customer. which may be asking question about or product, service or polices etc."
            },
            {
              "category": "other",
              "description": "rather than customer email than do nothing skip that."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "a6bf8ac8-e3ac-47c2-8a0a-064ba986c4ce",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "6f5e0a49-0a0a-4835-ad86-7542dd4f7eaa",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "dPZde58hpmXbWyjy",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        576,
        160
      ],
      "id": "420062cb-20d1-40d3-a79e-6ec20bb51f0e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Your work is to customer supporter. your job is to respond incoming customer support email with relevent information using rag system tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        -176
      ],
      "id": "59b10423-10a4-4442-b186-9b9be21049fe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call rag system to give me answer",
        "pineconeIndex": {
          "__rl": true,
          "value": "text-embedding-3-small",
          "mode": "list",
          "cachedResultName": "text-embedding-3-small"
        },
        "options": {
          "pineconeNamespace": "rag system"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        752,
        -16
      ],
      "id": "ac660d6e-a66b-4651-b639-2390d15c0637",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "3W5BFWOtTmIx04sa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "=text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        192
      ],
      "id": "a6d1f565-c903-41f9-af12-cc04e68c4b1d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "vz0RpQ14V7fvwfeK",
          "name": "open ai roter"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        16
      ],
      "id": "2a320fb3-7ebc-424e-ad8a-28d1d50c525d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vz0RpQ14V7fvwfeK",
          "name": "open ai roter"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        928,
        -176
      ],
      "id": "78cdabdc-4adc-432b-be32-b4d28026420c",
      "name": "Reply to a message",
      "webhookId": "1b5da7d4-e6fd-4dee-87f1-16d2f7d6b059",
      "credentials": {
        "gmailOAuth2": {
          "id": "GE3qQ9ody2IXIqSI",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "81cfd606-3034-401d-94cd-c82bd165a241",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "894ef91aa053be8c15824775a4f82309cab090282fe396fca35260d336871f79"
  },
  "id": "61GRDDTcUO0dvfK4",
  "tags": []
}