rag system chatbot.json
{
  "name": "rag system chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1320BvCy3zYXx17_Mnx3RIgQuyrbGs-9a",
          "mode": "list",
          "cachedResultName": "rag system",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1320BvCy3zYXx17_Mnx3RIgQuyrbGs-9a"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -3488,
        1056
      ],
      "id": "7ddc5369-c48b-4827-9de7-5141e59542e2",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Dw2kwmeV2ZZVYqD1",
          "name": "rag google drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3280,
        1056
      ],
      "id": "b67a600e-3176-40d7-a079-9d539c76aaa3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Dw2kwmeV2ZZVYqD1",
          "name": "rag google drive"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "text-embedding-3-small",
          "mode": "list",
          "cachedResultName": "text-embedding-3-small"
        },
        "options": {
          "pineconeNamespace": "rag system"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -3072,
        1056
      ],
      "id": "9aa79b62-67d3-4b9a-8163-98a696b1f3f1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "3W5BFWOtTmIx04sa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -2944,
        1264
      ],
      "id": "234a20aa-392c-4ea1-9752-f5756f892f36",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -2880,
        1424
      ],
      "id": "1eae8306-3534-4a2b-9220-619d253986a6",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "=text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3104,
        1344
      ],
      "id": "484d4350-8df9-4c32-8335-1045d153dcc2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "vz0RpQ14V7fvwfeK",
          "name": "open ai roter"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "authentication": "n8nUserAuth",
        "availableInChat": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2720,
        1056
      ],
      "id": "c32724cf-80a7-471b-89f8-7198573e7352",
      "name": "When chat message received",
      "webhookId": "0a3a069b-3b99-41c9-abd8-04ecfaa5f910"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2512,
        1056
      ],
      "id": "81f9b301-7008-4122-ba82-36b54101835b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2544,
        1312
      ],
      "id": "bbb64577-6df3-4bfa-ba4d-d1180aa01cdf",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QnpydfAjgozA3xHK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2416,
        1360
      ],
      "id": "ba18d8cb-e5c8-479f-b932-59b7ed1b21e0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "hi\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "text-embedding-3-small",
          "mode": "list",
          "cachedResultName": "text-embedding-3-small"
        },
        "options": {
          "pineconeNamespace": "rag system"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -2208,
        1232
      ],
      "id": "8cde3d73-980f-4aae-bb75-159cd7133855",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "3W5BFWOtTmIx04sa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2128,
        1440
      ],
      "id": "9c87a688-a988-4136-9408-fa92dca5e2a8",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "vz0RpQ14V7fvwfeK",
          "name": "open ai roter"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0bb4e597-ea66-4634-80ff-98a7bd6551b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "894ef91aa053be8c15824775a4f82309cab090282fe396fca35260d336871f79"
  },
  "id": "y4LASmw0XUN9mWxZ",
  "tags": []
}